$white: #FFFFFF;
$lighter-gray: #F0F0F0;
$light-gray: #CCCCCC;
$gray: #7B7B7B;
$dark-gray: #333333;
$black: #000000;

$text-color: #333333;

$cubie-red: #F44B4B;
$cubie-orange: #F4A24B;
$cubie-yellow: #F4E24B;
$cubie-green: #79E479;
$cubie-blue: #4B98F4;
$cubie-white: #F3F3F3;
