@import "color";
@import "util";

.rubisolver {

    h2 {
        margin: 15px 0 5px 0;
    }

    .detector {
        @extend .clearfix;
        text-align: center;
        height: 170px;

        .status-icon {
            font-size: 70px;
            margin-bottom: 10px;

            &.bad {
                color: $cubie-red;
            }

            &.ok {
                color: $cubie-green;
            }
        }

        p {
            font-size: 30px;
            line-height: 35px;
        }
    }

    .comm {
        position: absolute;
        bottom: 50px;
        width: 190px;

        textarea {
            padding: 10px;
            height: 100px;
            width: 190px;

            background-color: $white;
            color: $black;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 18px;
            line-height: 20px;
            font-weight: 700;
            letter-spacing: 1px;

            outline: none;

            border-radius: 4px;
        }

        .button-area {
            @extend .clearfix;
            margin-top: 5px;
        }
    }
}
