<h2>{{title}}</h2>

<div class="row">
    <a data-cubie="1" href="#" class="cubie cubie-blank"></a>
    <a data-cubie="2" href="#" class="cubie cubie-blank"></a>
    <a data-cubie="3" href="#" class="cubie cubie-blank"></a>
</div>

<div class="row">
    <a data-cubie="4" href="#" class="cubie cubie-blank"></a>
    <a data-cubie="5" href="#" class="cubie cubie-blank"></a>
    <a data-cubie="6" href="#" class="cubie cubie-blank"></a>
</div>

<div class="row">
    <a data-cubie="7" href="#" class="cubie cubie-blank"></a>
    <a data-cubie="8" href="#" class="cubie cubie-blank"></a>
    <a data-cubie="9" href="#" class="cubie cubie-blank"></a>
</div>
